*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    border: 5px solid black;
    width: 1280px;
    height: 720px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow:hidden;
}

#canvas1{
    background: url("/Users/hadi/Desktop/images/2D/background.png");
}

#leaves_left{
    position:absolute;
    top:50px;
    left:-100px;
    transition: 0.3s;
}
#leaves_right{                                                                                            
    position:absolute;
    top:50px;
    right:-100px;
    transition: 0.3s;
} 

#overlay{
    position:absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    pointer-events:none;
}
 
canvas:hover ~ #leaves_left{
    left: -150px;
    transform: rotate(15deg);
    
}
canvas:hover ~ #leaves_right{
    right: -180px;
    transform: rotate(-15deg);
}  
#owlbear, #grass, #bush, #plant{
    display: none;
}
